.title-eventbings {
  cursor: pointer;
  margin: 0 auto;
}

.container-event {
  display: flex;
  flex-direction: column;
  width: 231px;
	height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  
  &__block {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    .input2 {
      width: 150px;
      height: 20px;
    }

    .btn-click {
      width: 75px;
      height: 25px;
    }
  }

  .title2 {
    margin-top: 15px;
  }
}

.title-eventbings:hover {
  text-decoration: underline;
}
