.wrapper-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .block-form {
    display: flex;
    width: 1200px;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  .todo-list {
   margin-top: 20px;
  }

  hr {
    margin: .5rem 0;
  }

  .btn-form {
    margin: 0 auto;
  }
}


