<h3 class="title-ngIf" (click)="getSomeTing = !getSomeTing">4.ngif else - деректива...</h3>
<div class="block" *ngIf="getSomeTing">
  <p *ngIf="paragraph; else blueP" class="color-red">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, corporis.</p>
  <ng-template #blueP>
    <p  #blueP class="color-blue">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, corporis.</p>
  </ng-template>
  <button class="btn-p" 
    (click)="setText()" 
    [ngStyle]="{ backgroundColor: paragraph ? 'red': 'blue'}"
  >{{strBtn}}</button>
</div>
