.title-ngClass {
  margin: 0 auto;
  cursor: pointer;
}

.block-ngClass {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;

  .list-color {
    margin: 0 auto;
    width: 120px;
    height: 70px;
    border: 1px solid green;
  
    .red {
      color: red;
    }
  
    .blue {
      color: blue;
    }
  
    .green {
      color: green;
    }
    .yellow {
      color: yellowgreen;
    }
  }
  
  .list_Color_Black {
    display: none;
  }
  
  .btn-color {
    background-color: green;
    width: 100px;
    height: 25px;
    margin: 0 auto;
    margin-top: 15px;
  }
}

