<div class="block" [ngSwitch]="menu">
  <h1>Основной синтаксис</h1>
  <app-bindings-learn class="bindings" [getSomeTing]="menu"></app-bindings-learn>
  <br>
    <hr class="line">
  <br>
    <app-eventbindings-learn class="eventbindings"
    [getSomeTing]="menu" 
    (newItemEvent)="getLearnEvenBindings($event)"
    ></app-eventbindings-learn>
  <br>
    <hr class="line">
  <br>
    <app-ng-style-learn  class="ngStyle"
    [getSomeTing]="menu"></app-ng-style-learn>
  <br>
    <hr class="line">
  <br>
    <app-ng-classle-learn class="ngClass"
    [getSomeTing]="menu"
    ></app-ng-classle-learn>
  <br>
    <hr class="line">
  <br>
    <app-ng-ifle-learn class="ngIf"
    [getSomeTing]="menu"
    ></app-ng-ifle-learn>
  <br>
   <hr class="line">
  <br>
    <app-ng-switchle-learn class="ngSwitch"
      [getSomeTing]="menu">
    </app-ng-switchle-learn>
  <br>
    <hr class="line">
  <br>
  <app-run-page class="block-btn"></app-run-page>
</div>
